<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>登录 </title>

		<meta name="description" content="User login page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<link href="${path}/resources/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="${path}/resources/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="${path}/resources/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<link rel="stylesheet" href="${path}/resources/css/ace-fonts.css" />

		<!-- ace styles -->

		<link rel="stylesheet" href="${path}/resources/css/ace.min.css" />
		<link rel="stylesheet" href="${path}/resources/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="${path}/resources/css/usual.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="${path}/resources/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="${path}/resources/js/html5shiv.js"></script>
		<script src="${path}/resources/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="login-layout">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
									<i class="icon-leaf green"></i>
									<span class="red">欢迎来到</span>
									<span class="white">Vicky Home</span>
								</h1>
								<h4 class="blue">&copy;微奇之家 </h4>
							</div>

							<div class="space-6"></div>

							<div class="position-relative">

								<div class="forgot-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header red lighter bigger">
												<i class="icon-key"></i>
												找回密码
											</h4>

											<div class="space-6"></div>
											<p>
												请在下方输入您账户绑定的手机号码，之后您将收到新密码的短信。
											</p>

											<form action="${path!}/login/sendPWD" onsubmit="return submitCheck();" id="myForm" method="post">
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" placeholder="请输入您的手机号" name="user_phone"/>
															<i class="icon-phone icon-flip-horizontal"></i>
														</span>
														<span class="errorTxt"></span>
													</label>
                                                    <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="input-sm" name="verifyCode" id="verifyCode" placeholder="输入验证码" 
														  	   maxlength="5"  title="验证码不区分大小写!"
															   onblur="if (this.value == '') {this.placeholder = '输入验证码';}"/>
															<img src="${path!}/captcha/index" id="yzmImg" style="cursor: pointer;height: 30px;width: 43%">
														</span>
														<span class="errorTxt"></span>
													</label>
													<div class="clearfix">
														<button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
															<i class="icon-lightbulb"></i>
															发送
														</button>
													</div>
												</fieldset>
											</form>
										</div><!-- /widget-main -->

										<div class="toolbar center">
											<a href="${path!}/login/" class="back-to-login-link">
												回到登陆
												<i class="icon-arrow-right"></i>
											</a>
										</div>
									</div><!-- /widget-body -->
								</div><!-- /forgot-box -->

							</div><!-- /position-relative -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='${path}/resources/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script type="text/javascript">
		 window.jQuery || document.write("<script src='${path}/resources/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
		</script>
		<![endif]-->
		<script src="${path}/resources/js/usual.js"></script>
	    <script type="text/javascript">
	    function submitCheck(){
	    	if(isNull($("input[name='user_phone']").val())){
	    		$("input[name='user_phone']").focus();
	    		$(".errorTxt").eq(0).html("请填写账户绑定的手机号，以便接收短信！");
	    		return false;
	    	}
	    	$(".errorTxt").eq(0).html("");
	    	if(!checkMobile($("input[name='user_phone']").val())){
	    		$("input[name='user_phone']").focus();
	    		$(".errorTxt").eq(0).html("手机号格式错误！");
	    		return false;
	    	}
	    	$(".errorTxt").eq(0).html("");
	    	if(isNull($("input[name='verifyCode']").val())){
	    		$("input[name='verifyCode']").focus();
	    		$(".errorTxt").eq(1).html("请填写验证码！");
	    		return false;
	    	} 
	    	$(".errorTxt").eq(1).html("");
	    	return true;
	    }
	    </script>
	</body>
</html>
